body {
   font-family: Helvetica, sans-serif;
   margin: 0px;
}

div {
   float: left;
}

.top-bar {
   background-color: lightgrey;
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: groove darkblue 5px;
}

.top-right-info {
   position: relative;
   height: auto;
   margin-right: 30px;
   font-size: 20px;
   font-weight: normal;
   text-align: right;

}

.name {
   position: relative;
   margin-left: 30px;
   background: transparent;
   font-weight: bold;
   font-size: 50px;
}

.content-container {
   margin-top: 20px;
   display: flex;
   width: 100%;
}

.sidebar {
   margin: 0px 20px 20px;
   width: 200px;
   height: fit-content;
   border: solid black 2px;
   display: flex;
   flex-flow: column;
}

.sidebar-item {
   width: 100%;
}

.sidebar-item a {
   width: 100%;
   background-color: green;
   color: black;
}

.sidebar-item a div {
   padding: 20px;
   width: 160px;
}

.sidebar-item:hover {
   background-color: grey;
}

#sidebar-title {
   padding: 20px;
   background-color: black;
   color: white;
   font-weight: bold;
   font-size: 32;
}

.main-content {
   margin: 0px 20px 0px 0px;
   flex-grow: 1;
   height: 600px;
   border: solid blue 2px;
   display: none;
}

.main-content div {
   float: left;
   margin: 20px;
}

.page-title {
   font-size: 32px;
   font-weight: bold;
}

.page-content {
   font-size: 18px;
   font-weight: normal;
}

#Page1 {
   background-color: lightgrey;
   display: block;
}

#Page1Button {
   background-color: cyan;
}

#Page2 {
   background-color: red;
}

p {
   background-color: springgreen;
}
