body {
   font-family: Helvetica, sans-serif;
   margin: 0px;
}

div {
   float: left;
}

.top-bar {
   background-color: lightgrey;
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   border-bottom: groove darkblue 5px;
   border-bottom-style: groove;
}

.name {
   position: relative;
   margin-left: 30px;
   background: transparent;
   font-weight: bold;
   font-size: 50px;
}

.content-container {
   margin-top: 20px;
   display: flex;
   width: 100%;
}

.sidebar {
   margin: 0px 20px 20px;
   width: 200px;
   height: 200px;
   border: solid black 2px;
}

.main-content {
   margin: 0px 20px 0px 0px;
   flex-grow: 1;
   height: 600px;
   border: solid blue 2px;
}

p {
   background-color: springgreen;
}
